@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Muli:300,400,900|Noto+Serif:400,700|Oswald:300,400,700&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed = parallax
  scroll = normal
   */
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("img/burger.jpeg");
  background-position: top;
  min-height: 100%;
}

.pimg2 {
  background-image: url("img/bourbonstock.jpeg");
  background-position: center;
  min-height: 400px;
  margin: auto;
}

.pimg3 {
  background-image: url("img/image3.jpeg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}

p {
  font-size: 1.1rem;
}

.menu {
  background-color: #282e34;
  margin: none;
  padding: none;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
}

.nav-item {
  padding: 0 10px;
  margin: auto;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}
@media (max-width: 768px) {
  .pimg1 {
    background-position-x: -570px;
  }
  p {
    width: 100%;
    font-size: 1rem;
  }
}
